<ng-container *ngIf="dataReceived == true; then showRevenue;"></ng-container>
<ng-template #showRevenue>
  <div class="revenueDiv" style="margin-left: 150px;">
    <div class="projectName" style="padding-top: 20px;">
      <h4 style="font-style: italic; font-weight: lighter;">
        {{empBaseDtl.esaId}} &ndash; {{empBaseDtl.esaDesc}}</h4>
    </div>
    <div class="employeeName" style="font-style: italic; font-weight: bolder; padding-top: 20px;">
      <tr>
        <td>
          <ng-container *ngIf="!empBaseDtl.empMname; then noMname; else showMname"></ng-container>
          <ng-template #noMname>
            <h2>{{empBaseDtl.empLname}},&ensp;{{empBaseDtl.empFname}}&ensp;</h2>
          </ng-template>
          <ng-template #showMname>
            <h2>{{empBaseDtl.empLname}} {{empBaseDtl.empMname}} {{empBaseDtl.empLname}}</h2>
          </ng-template>
        </td>
        <td>
          <h3>(&thinsp;{{empBaseDtl.ctsEmpId}}&thinsp;)</h3>
        </td>
      </tr>
    </div>
    <div class="allocationDetail" style="margin-left: 30px; font-style: italic; font-size: large; padding-top: 15px;">
      <tr>
        <td>Allocated from</td>
        <td style="font-weight: bold;">&ensp;{{empBaseDtl.sowStart | date: 'd-MMM-yyyy'}}</td>
        <td style="padding-left: 10px; text-align: center;">to</td>
        <td style="font-weight: bold;">&ensp;{{empBaseDtl.sowStop | date: 'd-MMM-yyyy'}}</td>
        <ng-container *ngIf="empBaseDtl.foreseenSowStop; then showForeSeen;"></ng-container>
        <ng-template #showForeSeen>
          <td>&ensp;with a foreseeable extension upto&ensp;</td>
          <td style="font-weight: bold; padding-left: 1px;">{{empBaseDtl.foreseenSowStop}}</td>
        </ng-template>
      </tr>
    </div>
    <div style="margin-left: 30px; padding-top: 15px;">
      <tr>
        <td>
          <div>
            <tbody>
              <tr style="font-style: italic; font-size: large;">
                <td style="text-align: right;">Working hours&thinsp;:&nbsp;&nbsp;</td>
                <td class="amountData">{{empBaseDtl.wrkHrPerDay}}</td>
                <td style="text-align: right; padding-left: 30px;">Billing rate&thinsp;:</td>
                <ng-container *ngIf="empBaseDtl.currency == 'USD'; then billRateDollar; else rupeeCheck"></ng-container>
                <td style="text-align: right; padding-left: 30px;">Location&thinsp;:&nbsp;&nbsp;</td>
                <td style="font-weight: bold;">{{empBaseDtl.cityName}}&ensp;</td>
                <td>(&thinsp;{{empBaseDtl.siteInd}}&thinsp;)</td>
              </tr>
            </tbody>
          </div>
          <div style="padding-top: 2px;">
            <tbody>
              <tr style="font-style: italic; font-size: large;">
                <td style="text-align: right;">Lowes UID&thinsp;:&nbsp;&nbsp;</td>
                <td style="font-weight: bold;" *ngIf="empBaseDtl.lowesUid">{{empBaseDtl.lowesUid}}</td>
                <td style="font-weight: lighter;" *ngIf="!empBaseDtl.lowesUid">[ No Data ]</td>
                <td style="text-align: right; padding-left: 30px;">Department&thinsp;:&nbsp;&nbsp;</td>
                <td style="font-weight: bold;" *ngIf="empBaseDtl.deptName">{{empBaseDtl.deptName}}</td>
                <td style="font-weight: lighter;" *ngIf="!empBaseDtl.deptName">[ No Data ]</td>
              </tr>
            </tbody>
          </div>
        </td>
        <td style="padding-left: 250px; vertical-align: bottom;">
          <div>
            <tbody>
              <tr style="font-style: italic; font-size: large;">
                <td>Revenue :</td>
                <ng-container *ngIf="empBaseDtl.currency == 'USD'; then totalRevenueDollar; else totalRevenueRupeeCheck"></ng-container>
                <td style="padding-left: 30px;">CMI Revenue :</td>
                <ng-container *ngIf="empBaseDtl.currency == 'USD'; then totalCmiDollar; else totalCmiRupeeCheck"></ng-container>
              </tr>
            </tbody>
          </div>
        </td>
      </tr>
    </div>

    <div style="padding-top: 20px;">
      <tr>
        <ng-container *ngFor="let revenueObj of revenue; let revObjIdx = index;">
          <ng-container *ngIf="revObjIdx <= 5; then checkStartMarker;"></ng-container>
          <ng-template #checkStartMarker>
            <ng-container *ngIf="sowStart == revenueObj.revenueMonth; then sowStartMonth; else checkStopMarker"></ng-container>
          </ng-template>
          <ng-template #checkStopMarker>
            <ng-container *ngIf="sowStop == revenueObj.revenueMonth; then sowStopMonth; else checkForeseeMarker"></ng-container>
          </ng-template>
          <ng-template #checkForeseeMarker>
            <ng-container *ngIf="sowForesee == revenueObj.revenueMonth; then sowForeseeMonth; else ordMonth"></ng-container>
          </ng-template>
          <ng-template #sowStartMonth>
            <td style="padding: 10px 10px 10px 10px;">
              <div class="soStartMarker">
                <div class="container">
                  <h5 style="font-style: italic; padding-top: 15px; padding-left: 5px;">{{revenueObj.revenueMonth}}</h5>
                  <div style="padding-top: 25px;">
                    <tbody>
                      <tr style="font-style: italic; font-size: medium;">
                        <td style="text-align: right;">Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                      </tr>
                      <tr style="font-style: italic; font-size: medium; padding: 30px;">
                        <td style="text-align: right;">CMI Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                      </tr>
                    </tbody>
                  </div>
                </div>
                <div class="cardFooter">Approved SO Start</div>
              </div>
            </td>
          </ng-template>
          <ng-template #sowStopMonth>
            <td style="padding: 10px 10px 10px 10px;">
              <div class="soStopMarker">
                <div class="container">
                  <h5 style="font-style: italic; padding-top: 15px; padding-left: 5px;">{{revenueObj.revenueMonth}}</h5>
                  <div style="padding-top: 25px;">
                    <tbody>
                      <tr style="font-style: italic; font-size: medium;">
                        <td style="text-align: right;">Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                      </tr>
                      <tr style="font-style: italic; font-size: medium; padding: 30px;">
                        <td style="text-align: right;">CMI Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                      </tr>
                    </tbody>
                  </div>
                </div>
                <div class="cardFooter">Approved SO End</div>
              </div>
            </td>
          </ng-template>
          <ng-template #sowForeseeMonth>
            <td style="padding: 10px 10px 10px 10px;">
              <div class="soForeseeMarker">
                <div class="container">
                  <h5 style="font-style: italic; padding-top: 15px; padding-left: 5px;">{{revenueObj.revenueMonth}}</h5>
                  <div style="padding-top: 25px;">
                    <tbody>
                      <tr style="font-style: italic; font-size: medium;">
                        <td style="text-align: right;">Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                      </tr>
                      <tr style="font-style: italic; font-size: medium; padding: 30px;">
                        <td style="text-align: right;">CMI Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                      </tr>
                    </tbody>
                  </div>
                </div>
                <div class="cardFooter">Forecasted SO End</div>
              </div>
            </td>
          </ng-template>
          <ng-template #ordMonth>
            <td style="padding: 10px 10px 10px 10px;">
              <div class="ordMonth">
                <span>
                  <div class="container">
                    <h5 style="font-style: italic; padding-top: 15px; padding-left: 5px;">{{revenueObj.revenueMonth}}
                    </h5>
                    <div style="padding-top: 25px;">
                      <tbody>
                        <tr style="font-style: italic; font-size: medium;">
                          <td style="text-align: right;">Revenue :</td>
                          <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                        </tr>
                        <tr style="font-style: italic; font-size: medium; padding: 30px;">
                          <td style="text-align: right;">CMI Revenue :</td>
                          <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                        </tr>
                      </tbody>
                    </div>
                  </div>
                </span>
              </div>
            </td>
          </ng-template>
          <ng-template #monthRevenueDollar>
            <td class="amountData">&ensp;{{revenueObj.revenueAmount/100 | currency: '$'}}</td>
          </ng-template>
          <ng-template #monthCmiDollar>
            <td class="amountData">&ensp;{{revenueObj.cmiRevenueAmount/100 | currency: '$'}}</td>
          </ng-template>
          <ng-template #monthRevenueRupee>
            <td class="amountData">&ensp;{{revenueObj.revenueAmount/100 | currency: '&#8377;'}}</td>
          </ng-template>
          <ng-template #monthCmiRupee>
            <td class="amountData">&ensp;{{revenueObj.cmiRevenueAmount/100 | currency: '&#8377;'}}</td>
          </ng-template>
        </ng-container>
      </tr>
    </div>
    <div>
      <tr>
        <ng-container *ngFor="let revenueObj of revenue; let revObjIdx = index;">
          <ng-container *ngIf="revObjIdx > 5 && revObjIdx <= 11; then checkStartMarker"></ng-container>
          <ng-template #checkStartMarker>
            <ng-container *ngIf="sowStart == revenueObj.revenueMonth; then sowStartMonth; else checkStopMarker">
            </ng-container>
          </ng-template>
          <ng-template #checkStopMarker>
            <ng-container *ngIf="sowStop == revenueObj.revenueMonth; then sowStopMonth; else checkForeseeMarker">
            </ng-container>
          </ng-template>
          <ng-template #checkForeseeMarker>
            <ng-container *ngIf="sowForesee == revenueObj.revenueMonth; then sowForeseeMonth; else ordMonth">
            </ng-container>
          </ng-template>
          <ng-template #sowStartMonth>
            <td style="padding: 10px 10px 10px 10px;">
              <div class="soStartMarker">
                <div class="container">
                  <h5 style="font-style: italic; padding-top: 15px; padding-left: 5px;">{{revenueObj.revenueMonth}}</h5>
                  <div style="padding-top: 25px;">
                    <tbody>
                      <tr style="font-style: italic; font-size: medium;">
                        <td style="text-align: right;">Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                      </tr>
                      <tr style="font-style: italic; font-size: medium; padding: 30px;">
                        <td style="text-align: right;">CMI Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                      </tr>
                    </tbody>
                  </div>
                </div>
                <div class="cardFooter">Approved SO Start</div>
              </div>
            </td>
          </ng-template>
          <ng-template #sowStopMonth>
            <td style="padding: 10px 10px 10px 10px;">
              <div class="soStopMarker">
                <div class="container">
                  <h5 style="font-style: italic; padding-top: 15px; padding-left: 5px;">{{revenueObj.revenueMonth}}</h5>
                  <div style="padding-top: 25px;">
                    <tbody>
                      <tr style="font-style: italic; font-size: medium;">
                        <td style="text-align: right;">Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                      </tr>
                      <tr style="font-style: italic; font-size: medium; padding: 30px;">
                        <td style="text-align: right;">CMI Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                      </tr>
                    </tbody>
                  </div>
                </div>
                <div class="cardFooter">Approved SO End</div>
              </div>
            </td>
          </ng-template>
          <ng-template #sowForeseeMonth>
            <td style="padding: 10px 10px 10px 10px;">
              <div class="soForeseeMarker">
                <div class="container">
                  <h5 style="font-style: italic; padding-top: 15px; padding-left: 5px;">{{revenueObj.revenueMonth}}</h5>
                  <div style="padding-top: 25px;">
                    <tbody>
                      <tr style="font-style: italic; font-size: medium;">
                        <td style="text-align: right;">Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                      </tr>
                      <tr style="font-style: italic; font-size: medium; padding: 30px;">
                        <td style="text-align: right;">CMI Revenue :</td>
                        <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                      </tr>
                    </tbody>
                  </div>
                </div>
                <div class="cardFooter">Forecasted SO End</div>
              </div>
            </td>
          </ng-template>
          <ng-template #ordMonth>
            <td style="padding: 10px 10px 10px 10px;">
              <div class="ordMonth">
                <span>
                  <div class="container">
                    <h5 style="font-style: italic; padding-top: 15px; padding-left: 5px;">{{revenueObj.revenueMonth}}
                    </h5>
                    <div style="padding-top: 25px;">
                      <tbody>
                        <tr style="font-style: italic; font-size: medium;">
                          <td style="text-align: right;">Revenue :</td>
                          <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                        </tr>
                        <tr style="font-style: italic; font-size: medium; padding: 30px;">
                          <td style="text-align: right;">CMI Revenue :</td>
                          <ng-container *ngIf="empBaseDtl.currency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                        </tr>
                      </tbody>
                    </div>
                  </div>
                </span>
              </div>
            </td>
          </ng-template>
          <ng-template #monthRevenueDollar>
            <td class="amountData">&ensp;{{revenueObj.revenueAmount/100 | currency: '$'}}</td>
          </ng-template>
          <ng-template #monthRevenueRupeeCheck>
            <ng-container *ngIf="empBaseDtl.currency == 'INR'; then monthRevenueRupee; else noCurrencyMonthRevenue"></ng-container>
          </ng-template>
          <ng-template #monthRevenueRupee>
            <td class="amountData">&ensp;{{revenueObj.revenueAmount/100 | currency: '&#8377;'}}</td>
          </ng-template>
          <ng-template #noCurrencyMonthRevenue>
            <td class="amountData">&ensp;{{revenueObj.revenueAmount/100}}</td>
          </ng-template>
          <ng-template #monthCmiDollar>
            <td class="amountData">&ensp;{{revenueObj.cmiRevenueAmount/100 | currency: '$'}}</td>
          </ng-template>
          <ng-template #monthCmiRupeeCheck>
            <ng-container *ngIf="empBaseDtl.currency == 'INR'; then monthCmiRupee; else noCurrencyMonthCmi"></ng-container>
          </ng-template>
          <ng-template #monthCmiRupee>
            <td class="amountData">&ensp;{{revenueObj.cmiRevenueAmount/100 | currency: '&#8377;'}}</td>
          </ng-template>
          <ng-template #noCurrencyMonthCmi>
            <td class="amountData">&ensp;{{revenueObj.cmiRevenueAmount/100}}</td>
          </ng-template>
        </ng-container>
      </tr>
    </div>
  </div>
</ng-template>
<ng-template #billRateDollar>
  <td class="amountData">&nbsp;&nbsp;{{empBaseDtl.billRatePerHr/100 | currency: $}}</td>
</ng-template>
<ng-template #rupeeCheck>
  <ng-container *ngIf="empBaseDtl.currency == 'INR'; then billRateRupee; else noCurrencyBillRate"></ng-container>
</ng-template>
<ng-template #billRateRupee>
  <td class="amountData">&nbsp;&nbsp;{{empBaseDtl.billRatePerHr/100 | currency: '&#8377;'}}</td>
</ng-template>
<ng-template #noCurrencyBillRate>
  <td class="amountData">{{empBaseDtl.billRatePerHr/100}}</td>
</ng-template>
<ng-template #totalRevenueDollar>
  <td class="amountData">&ensp;{{totalRevenue/100 | currency: $}}</td>
</ng-template>
<ng-template #totalRevenueRupeeCheck>
  <ng-container *ngIf="empBaseDtl.currency == 'INR'; then totalRupeeRevenue; else noCurrencyBillRateTotalRevenue"></ng-container>
</ng-template>
<ng-template #totalRupeeRevenue>
  <td class="amountData">&ensp;{{totalRevenue/100 | currency: '&#8377;'}}</td>
</ng-template>
<ng-template #noCurrencyBillRateTotalRevenue>
  <td class="amountData">{{totalRevenue/100}}</td>
</ng-template>
<ng-template #totalCmiDollar>
  <td class="amountData">&ensp;{{totalCmiRevenue/100 | currency: '$'}}</td>
</ng-template>
<ng-template #totalCmiRupeeCheck>
  <ng-container *ngIf="empBaseDtl.currency == 'INR'; then totalRupeeCmi; else noCurrencyBillRateTotalCmi"></ng-container>
</ng-template>
<ng-template #totalRupeeCmi>
  <td class="amountData">&ensp;{{totalCmiRevenue/100 | currency: '&#8377;'}}</td>
</ng-template>
<ng-template #noCurrencyBillRateTotalCmi>
  <td class="amountData">{{totalCmiRevenue/100}}</td>
</ng-template>