.ordMonth {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  user-select: none;
}

.soStartMarker {
  box-shadow: 0 4px 8px 0 rgba(43, 255, 0, 0.6);
  transition: 0.3s;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  user-select: none;
}

.soStopMarker {
  box-shadow: 0 4px 8px 0 rgba(234, 0, 255, 0.5);
  transition: 0.3s;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  user-select: none;
}

.soForeseeMarker {
  box-shadow: 0 4px 8px 0 rgba(255, 194, 0, 0.6);
  transition: 0.3s;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  user-select: none;
}

.cardFooter {
  text-align: right;
  font-size: small;
  font-style: italic;
  padding-right: 15px;
  user-select: none;
}

.ordMonth:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 255, 1);
  cursor: pointer;
}

.soStartMarker:hover {
  box-shadow: 0 8px 16px 0 rgba(43, 255, 0, 1);
  cursor: pointer;
}

.soStopMarker:hover {
  box-shadow: 0 8px 16px 0 rgba(234, 0, 255, 1);
  cursor: pointer;
}

.soForeseeMarker:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 194, 0, 1);
  cursor: pointer;
}

.ordMonth:active {
  box-shadow: none;
  transition: 0.2s;
}

.soStartMarker:active {
  box-shadow: none;
  transition: 0.2s;
}

.soStopMarker:active {
  box-shadow: none;
  transition: 0.2s;
}

.soForeseeMarker:active {
  box-shadow: none;
  transition: 0.2s;
}

.container {
  width: 250px;
  height: 225px;
}