<ng-container *ngFor="let empRevObj of data; let idx = index;">
    <h2 mat-dialog-title style="font-style: italic;" *ngIf="idx == 0">{{empRevObj.revenueMonth | date: 'MMMM - yyyy'}}</h2>
</ng-container>

<mat-dialog-content>
    <tbody style="font-style: italic;" *ngFor="let empRevObj of data; let idx = index;">
        <tr *ngIf="idx > 0">
            <td style="text-align: right;">{{empRevObj.empFname}},&ensp;{{empRevObj.empLname}}</td>
            <td style="text-align: right; width: 7vw;">{{(empRevObj.revenueAmount/100) | currency: '':''}}</td>
            <td style="text-align: right; width: 7vw">{{(empRevObj.cmiRevenueAmount/100) | currency: '':''}}</td>
        </tr>
    </tbody>
</mat-dialog-content>
<br>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>