<div>
    <ng-container *ngIf="this.addBtnShow; then addPage; else updPage"></ng-container>
    <ng-template #addPage>
        <p><label>Book ID:</label><strong>{{this.maxId}}</strong></p>
        <p><label>Title:</label><input type="text" id="bookTitle" required/></p>
        <p><label>Category:</label><input type="text" id="bookCatg" required/></p>
        <p><label>Subject:</label><input type="text" id="bookSub" required/></p>
        <p><label>Published On:</label><input type="date" id="bookPub" required/></p>
        <input class="btn btn-sm btn-success m-2" style="cursor:pointer;" value="Add" (click)="add()" readonly/>
    </ng-template>
    <ng-template #updPage>
        <p><label>Book ID:</label><strong>{{bookById.bookCode}}</strong></p>
        <p><label>Title:</label><input type="text" id="bookTitle" value="{{bookById.title}}" required/></p>
        <p><label>Category:</label><input type="text" id="bookCatg" value="{{bookById.category}}" required/></p>
        <p><label>Subject:</label><input type="text" id="bookSub" value="{{bookById.subject}}" required/></p>
        <p><label>Published On:</label><input type="date" id="bookPub" value="{{bookById.dateOfPublish | date:'mm/dd/yyyy'}}" required/></p>
        <input class="btn btn-sm btn-success m-2" style="cursor:pointer;" value="Update" routerLink="update/{{bookById.bookCode}}" readonly/>
    </ng-template>
    <input class="btn btn-sm btn-warning m-2" style="font-weight:bold;cursor:pointer;" value="Cancel" routerLink="" readonly/>
</div>