<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="employee-detail-container">
  <div style="float: left; width: 100%; padding-top: 10px; padding-bottom: 10px;">
    <div style="display: table-cell; vertical-align: middle;">
      <button mat-icon-button (click)="snav.toggle()" style="border: none; outline: none;">
        <mat-icon style="font-size: 2vw;">menu</mat-icon>
      </button>
    </div>
    <td class="navbar-header"><span>{{revenueYear}} Dashboard</span></td>
    <td class="esa-id" style="font-size: 1.3vw; width: 15%; padding-right: 8.7vw;">
      <select class="year-dropdown" (change)="onRevenueYearChange($event.target.value, selectedProject)">
        <option>&nbsp;Select Year&nbsp;</option>
        <option *ngFor="let listYear of minMaxYear">{{listYear}}</option>
      </select>
    </td>
  </div>

  <mat-sidenav-container class="revenue-sidenav-container">
    <mat-sidenav #snav [mode]="'over'" fixedTopGap="80">
      <mat-nav-list style="font-style: italic;">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let projEmpObj of empList">
            <mat-expansion-panel-header class="right-aligned-header">
              <mat-panel-title style="font-size: 1vw;">{{projEmpObj.esaDesc}}</mat-panel-title>
              <mat-panel-description style="font-size: 1vw;">(&thinsp;{{projEmpObj._id}}&thinsp;)</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <ng-container *ngIf="projEmpObj.workforce.length == 0; then dashSideNavNoEmp; else dashSideNavListEmp"></ng-container>
            <ng-template #dashSideNavNoEmp>
              <mat-list-item style="font-style: italic;">No employees allocated for {{revenueYear}}</mat-list-item>
            </ng-template>
            <ng-template #dashSideNavListEmp>
              <ng-container *ngFor="let empObj of projEmpObj.workforce; let lastVal = last">
                <mat-list-item (click)="goToEmployeeRevenue(revenueYear, empObj.employeeLinker)" style="font-style: italic; font-size: 1.1vw;">
                  {{empObj.empFname}},&ensp;{{empObj.empLname}}
                  <mat-divider *ngIf="!lastVal"></mat-divider>
                </mat-list-item>
              </ng-container>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <div class="mat-app-background basic-container" style="font-style: italic;">
      <mat-tab-group mat-align-tabs="left" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onProjectChange($event.index)">
        <mat-tab label="{{projEmpObj.esaDesc}}" *ngFor="let projEmpObj of empList">
          <br>
          <ng-container *ngIf="refreshDashboardRevenue == true; then refreshDashboard; else noDashboardRevenue"></ng-container>
          <ng-template #refreshDashboard>
            <div style="float: left; width: 100%;">Click on each month to view detailed summary</div>
            <p></p>
            <div class="flex-row" fxlayout="row" style="width: 98%;">
              <ng-container *ngFor="let revenueObj of dashboardRevenue; let revObjIdx = index;">
                <ng-container *ngIf="revObjIdx >= 0 && revObjIdx <= 5;">
                  <div class="ordMonth" fxflex="" fxflexorder="-1" (click)="dashboardMonthDetailView(revObjIdx, revenueYear)">
                    <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
                    <tbody>
                      <tr style="font-style: italic;">
                        <td style="text-align: right; font-size: 1vw;">Revenue&thinsp;:</td>
                        <ng-container *ngIf="projectBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                      </tr>
                      <tr style="font-style: italic;">
                        <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
                        <ng-container *ngIf="projectBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                      </tr>
                    </tbody>
                    <p></p>
                  </div>
                </ng-container>
                <ng-template #monthRevenueDollar>
                  <td class="dasbhoard-amount">
                    <span style="font-size: 0.9vw;">&ensp;$</span>{{revenueObj.revenueAmount/100 | currency: '':''}}
                  </td>
                </ng-template>
                <ng-template #monthRevenueRupeeCheck>
                  <ng-container *ngIf="projectBillingCurrency == 'INR'; then monthRevenueRupee; else noCurrencyMonthRevenue"></ng-container>
                </ng-template>
                <ng-template #monthRevenueRupee>
                  <td class="dasbhoard-amount">
                    <span style="font-size: 0.9vw;">&ensp;&#8377;</span>{{revenueObj.revenueAmount/100 | currency: '':''}}
                  </td>
                </ng-template>
                <ng-template #noCurrencyMonthRevenue>
                  <td class="dasbhoard-amount">&ensp;{{revenueObj.revenueAmount/100 | currency: '':''}}</td>
                </ng-template>
                <ng-template #monthCmiDollar>
                  <td class="dasbhoard-amount">
                    <span style="font-size: 0.9vw;">&ensp;$</span>{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}
                  </td>
                </ng-template>
                <ng-template #monthCmiRupeeCheck>
                  <ng-container *ngIf="projectBillingCurrency == 'INR'; then monthCmiRupee; else noCurrencyMonthCmi"></ng-container>
                </ng-template>
                <ng-template #monthCmiRupee>
                  <td class="dasbhoard-amount">
                    <span style="font-size: 0.9vw;">&ensp;&#8377;</span>{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}
                  </td>
                </ng-template>
                <ng-template #noCurrencyMonthCmi>
                  <td class="dasbhoard-amount">&ensp;{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}</td>
                </ng-template>
              </ng-container>
            </div>
            <div class="flex-row" fxlayout="row" style="width: 98%;">
              <ng-container *ngFor="let revenueObj of dashboardRevenue; let revObjIdx = index;">
                <ng-container *ngIf="revObjIdx >= 6 && revObjIdx <= 11;">
                  <div class="ordMonth" fxflex="" fxflexorder="-1" (click)="dashboardMonthDetailView(revObjIdx, revenueYear)">
                    <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
                    <tbody>
                      <tr style="font-style: italic;">
                        <td style="text-align: right; font-size: 1vw;">Revenue&thinsp;:</td>
                        <ng-container *ngIf="projectBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
                      </tr>
                      <tr style="font-style: italic;">
                        <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
                        <ng-container *ngIf="projectBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
                      </tr>
                    </tbody>
                    <p></p>
                  </div>
                </ng-container>
                <ng-template #monthRevenueDollar>
                  <td class="dasbhoard-amount">
                    <span style="font-size: 0.9vw;">&ensp;$</span>{{revenueObj.revenueAmount/100 | currency: '':''}}
                  </td>
                </ng-template>
                <ng-template #monthRevenueRupeeCheck>
                  <ng-container *ngIf="projectBillingCurrency == 'INR'; then monthRevenueRupee; else noCurrencyMonthRevenue"></ng-container>
                </ng-template>
                <ng-template #monthRevenueRupee>
                  <td class="dasbhoard-amount">
                    <span style="font-size: 0.9vw;">&ensp;&#8377;</span>{{revenueObj.revenueAmount/100 | currency: '':''}}
                  </td>
                </ng-template>
                <ng-template #noCurrencyMonthRevenue>
                  <td class="dasbhoard-amount">&ensp;{{revenueObj.revenueAmount/100 | currency: '':''}}</td>
                </ng-template>
                <ng-template #monthCmiDollar>
                  <td class="dasbhoard-amount">
                    <span style="font-size: 0.9vw;">&ensp;$</span>{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}
                  </td>
                </ng-template>
                <ng-template #monthCmiRupeeCheck>
                  <ng-container *ngIf="projectBillingCurrency == 'INR'; then monthCmiRupee; else noCurrencyMonthCmi"></ng-container>
                </ng-template>
                <ng-template #monthCmiRupee>
                  <td class="dasbhoard-amount"> <span style="font-size: 0.9vw;">&ensp;&#8377;</span>{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}</td>
                </ng-template>
                <ng-template #noCurrencyMonthCmi>
                  <td class="dasbhoard-amount">&ensp;{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}</td>
                </ng-template>
              </ng-container>
            </div>
          </ng-template>
          <ng-template #noDashboardRevenue>
            <div class="project-name">No revenue available for {{revenueYear}} !</div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-container>
</div>