<ng-container *ngIf="dataReceived == true; then showDashboard;"></ng-container>
<ng-template #showDashboard>
  <p></p>
  <p style="font-style: italic;">&emsp;Click on each row to view employee-wise revenue</p>
  <div style="margin-left: 50px; margin-right: 50px;">
    <table class="table table-condensed table-bordered table-striped">
      <thead>
        <th style="font-style: italic; text-align: center; vertical-align: middle;" *ngFor=" let colName of columns;">{{colName}}</th>
      </thead>
      <tbody *ngFor="let project of dashboard; last as isLast">
        <ng-container *ngIf="isLast; then grandTotal; else employeeRevenue"></ng-container>
        <ng-template #employeeRevenue>
          <tr class="employeeRevenue" [routerLink]="['/employeeRevenue/', this.revenueYear, project.esaId]">
            <td style="text-align: left; font-style: italic; font-weight: bold;">{{project.esaId}}</td>
            <td style="text-align: right;" *ngFor="let revenue of project.revenue">{{(revenue.revenueAmount/100) | currency:"$"}}
            </td>
          </tr>
        </ng-template>
        <ng-template #grandTotal>
          <tr class="grandTotal">
            <td style="text-align: left; font-style: italic; font-weight: bold;">{{project.esaId}}</td>
            <td style="text-align: right; font-weight: bold;" *ngFor="let revenue of project.revenue">{{(revenue.revenueAmount/100) | currency:"$"}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</ng-template>