<ng-container *ngIf="dataReceived==true; then showDashboard;"></ng-container>
<ng-template #showDashboard>
  <p></p>
  <p style="font-style: italic;">&emsp;Click on each row to view employee-wise revenue</p>
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <th *ngFor=" let colName of columns" style="font-style: italic;">{{colName}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let project of dashboard" [routerLink]="['/projectRevenue/', project.esaId, this.currentYear]">
        <td style="font-style: italic; font-weight: bold;">{{project.esaId}}</td>
        <td style="text-align: right;" *ngFor="let revenue of project.revenue">
          {{(revenue.revenueAmount/100) | currency:"$&nbsp;"}}
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>