<ng-container *ngIf="dataReceived==true; then showProjectList;"></ng-container>
<ng-template #showProjectList>
   <p></p>
   <div style="padding-left: 100px;">
      <p style="font-style: italic;">&emsp;Click on each row to view employee-wise revenue</p>
      <table class="table table-condensed table-bordered table-striped" style="width: 500px">
         <thead style="font-style: italic; font-weight: bold;">
            <th *ngFor="let colName of columns">{{colName}}</th>
         </thead>
         <tbody>
            <tr *ngFor="let project of projects" [routerLink]="['/employeeRevenue/', this.currentYear, project._id]">
               <td style="text-align: center; font-style: italic; font-weight: bold;">{{project._id}}</td>
               <td style="font-style: italic;">
                  <ol *ngFor="let description of project.description">{{description.name}}</ol>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</ng-template>