<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="employee-detail-container">
  <div style="float: left; width: 100%; padding-top: 10px; padding-bottom: 10px;">
    <div style="display: table-cell; vertical-align: middle;">
      <button mat-icon-button (click)="snav.toggle()" style="border: none; outline: none;">
        <mat-icon style="font-size: 2vw;">menu</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="filterOk === true; then dispProjDesc; else dispEmptyDesc;"></ng-container>
    <ng-template #dispProjDesc>
      <td class="esa-id" style="width: 43%;">{{employeeDetail.esaId}}&ensp;&ndash;&ensp;{{employeeDetail.esaDesc}}</td>
    </ng-template>
    <ng-template #dispEmptyDesc>
      <td class="esa-id" style="width: 43%;"></td>
    </ng-template>
    <td class="esa-id" style="width: 38%;">{{revenueYear}} Revenue</td>
    <td class="esa-id" style="font-size: 1.3vw; width: 13%;">
      <select class="year-dropdown" (change)="getEmployeeRevenue($event.target.value, employeeFilter)">
        <option>&nbsp;Select Year&nbsp;</option>
        <option *ngFor="let listYear of minMaxYear">{{listYear}}</option>
      </select>
    </td>
    <td style="width: 40%;">
      <div style="float: right; width: 100%">
        <button mat-icon-button (click)="goToProjectDashboard()" style="border: none; outline: none;">
          <mat-icon style="font-size: 2vw; vertical-align: middle;">home</mat-icon>
        </button>
      </div>
    </td>
  </div>

  <mat-sidenav-container class="revenue-sidenav-container">
    <mat-sidenav #snav [mode]="'over'" fixedTopGap="80">
      <mat-nav-list style="font-style: italic;">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let projEmpObj of empList">
            <mat-expansion-panel-header class="right-aligned-header">
              <mat-panel-title style="font-size: 1vw;">{{projEmpObj.esaDesc}}</mat-panel-title>
              <mat-panel-description style="font-size: 1vw;">(&thinsp;{{projEmpObj._id}}&thinsp;)</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <ng-container *ngIf="projEmpObj.workforce.length == 0; then revSideNavNoEmp; else revSideNavListEmp"></ng-container>
            <ng-template #revSideNavNoEmp>
              <mat-list-item style="font-style: italic;">No employees allocated for {{revenueYear}}</mat-list-item>
            </ng-template>
            <ng-template #revSideNavListEmp>
              <ng-container *ngFor="let empObj of projEmpObj.workforce; let lastVal = last">
                <mat-list-item (click)="getEmployeeRevenue(revenueYear, empObj.employeeLinker)" style="font-style: italic; font-size: 1.1vw;">
                  {{empObj.firstName}},&ensp;{{empObj.lastName}}
                  <mat-divider *ngIf="!lastVal"></mat-divider>
                </mat-list-item>
              </ng-container>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <p></p>
    <div class="revenue-container">
      <ng-container *ngIf="filterOk === true; then checkRevenueAvailable; else badFilter;"></ng-container>
      <ng-template #badFilter>
        <div class="project-name">No data available !</div>
      </ng-template>
      <ng-template #checkRevenueAvailable>
        <ng-container *ngIf="revenueAvailable === true; then refreshEmployeeRevenue; else noRevenueForEmployee;"></ng-container>
      </ng-template>
      <ng-template #noRevenueForEmployee>
        <div class="project-name">No revenue available for {{employeeDetail.firstName}}, {{employeeDetail.lastName}} in {{revenueYear}} !</div>
      </ng-template>
    </div>
  </mat-sidenav-container>
</div>
<ng-template #refreshEmployeeRevenue>
  <ng-container *ngIf="!employeeDetail.projName; then noProjName; else showProjName"></ng-container>
  <ng-template #noProjName>
    <div class="project-name">[ No project Name ]</div>
  </ng-template>
  <ng-template #showProjName>
    <div class="project-name">{{employeeDetail.projName}}</div>
  </ng-template>
  <ng-container *ngIf="!employeeDetail.middleName; then noMname; else showMname"></ng-container>
  <ng-template #noMname>
    <tr>
      <td style="font-size: 2.8vw;">{{employeeDetail.firstName}},&thinsp;{{employeeDetail.lastName}}&ensp;</td>
      <td style="font-size: 1.7vw; vertical-align: middle; padding-top: 5px;">[&nbsp;{{employeeDetail.ctsEmpId}}&nbsp;]
      </td>
    </tr>
  </ng-template>
  <ng-template #showMname>
    <tr>
      <td style="font-size: 2.8vw;">{{employeeDetail.lastName}} {{employeeDetail.middleName}} {{employeeDetail.lastName}}</td>
      <td style="font-size: 1.7vw; vertical-align: top; padding-top: 12px;">[&nbsp;{{employeeDetail.ctsEmpId}}&nbsp;]
      </td>
    </tr>
  </ng-template>
  <div style="font-size: 1.35vw; padding-left: 30px; width: 100%; overflow: hidden;">
    <div style="float: left; width: 70%;">
      <tr>
        <td style="font-weight: lighter;">Allocation spans between</td>
        <td style="font-size: 1.5vw">&ensp;{{employeeDetail.sowStart | date: 'd MMM, yyyy'}}</td>
        <td style="font-weight: lighter;">&ensp;and&ensp;</td>
        <td style="font-size: 1.5vw">{{employeeDetail.sowStop | date: 'd MMM, yyyy'}}</td>
        <ng-container *ngIf="employeeDetail.forecastSowStop; then showForeSeen;"></ng-container>
        <ng-template #showForeSeen>
          <td style="font-weight: lighter;">&ensp;with a foreseeable extension upto&ensp;</td>
          <td style="font-size: 1.5vw">{{employeeDetail.forecastSowStop | date: 'd MMM, yyyy'}}</td>
        </ng-template>
      </tr>
    </div>
  </div>
  <p></p>
  <div style="font-size: 1.35vw; padding-left: 30px; width: 100%; overflow: hidden; vertical-align: middle;">
    <div style="float: left; width: 60%;">
      <div style="width: 100%; overflow: hidden;">
        <div style="float: left; width: 23%;">
          <td style="font-weight: lighter;">Working hours&thinsp;:&nbsp;&nbsp;</td>
          <td style="font-size: 1.6vw">{{employeeDetail.workHourPerDay}}</td>
        </div>
        <div style="float: left; width: 25%">
          <td style="font-weight: lighter;">Billing rate&thinsp;:&nbsp;&nbsp;</td>
          <ng-container *ngIf="employeeBillingCurrency == 'USD'; then billRateDollar; else rupeeCheck"></ng-container>
          <ng-template #billRateDollar>
            <td style="font-size: 1.5vw">
              <span style="font-size: 1.1vw;">$</span>{{employeeDetail.billRatePerHour/100 | currency: '':''}}
            </td>
          </ng-template>
          <ng-template #rupeeCheck>
            <ng-container *ngIf="employeeBillingCurrency == 'INR'; then billRateRupee; else noCurrencyBillRate"></ng-container>
          </ng-template>
          <ng-template #billRateRupee>
            <td style="font-size: 1.5vw">{{employeeDetail.billRatePerHour/100 | currency: '&#8377;'}}</td>
          </ng-template>
          <ng-template #noCurrencyBillRate>
            <td style="font-size: 1.5vw">{{employeeDetail.billRatePerHour/100}}</td>
          </ng-template>
        </div>
        <div style="float: left; width: 40%">
          <td style="font-weight: lighter;">Location&thinsp;:&nbsp;&nbsp;</td>
          <td style="font-size: 1.5vw">{{employeeDetail.cityName}}&ensp;</td>
          <td>(&thinsp;{{employeeDetail.siteInd}}&thinsp;)</td>
        </div>
      </div>
      <div style="width: 100%; overflow: hidden;">
        <div style="float: left; width: 30%">
          <td style="font-weight: lighter;">Lowes UID&thinsp;:&nbsp;&nbsp;</td>
          <ng-container *ngIf="employeeDetail.lowesUid; then showLowesUid; else noData"></ng-container>
          <ng-template #showLowesUid>
            <td style="font-size: 1.5vw">{{employeeDetail.lowesUid}}</td>
          </ng-template>
        </div>
        <div style="float: left; width: 28%">
          <td style="font-weight: lighter;">Unix ID&thinsp;:&nbsp;&nbsp;</td>
          <ng-container *ngIf="employeeDetail.unixId; then showUnixId; else noData"></ng-container>
          <ng-template #showUnixId>
            <td style="font-size: 1.5vw">{{employeeDetail.unixId}}</td>
          </ng-template>
        </div>
        <div style="float: left; width: 28%">
          <td style="font-weight: lighter;">Windows ID&thinsp;:&nbsp;&nbsp;</td>
          <ng-container *ngIf="employeeDetail.windowsId; then showWindowsId; else noData"></ng-container>
          <ng-template #showWindowsId>
            <td style="font-size: 1.5vw">{{employeeDetail.windowsId}}</td>
          </ng-template>
        </div>
      </div>
      <div style="float: left; width: 100%">
        <td style="font-weight: lighter;">Department&thinsp;:&nbsp;&nbsp;</td>
        <ng-container *ngIf="employeeDetail.deptName; then showDept; else noData"></ng-container>
        <ng-template #showDept>
          <td style="font-size: 1.5vw">{{employeeDetail.deptName}}</td>
        </ng-template>
      </div>
    </div>
    <div style="float: left; width: 40%;">
      <div style="display: table-row;">
        <ng-container *ngIf="employeeBillingCurrency == 'USD'; then totalRevenueDollar; else totalRevenueRupeeCheck"></ng-container>
        <ng-template #totalRevenueDollar>
          <td class="revenue-amount">Revenue&thinsp;:</td>
          <td class="cmi-revenue-amount">
            <span style="font-size: 1.5vw;">$</span>{{totalRevenue/100 | currency: '':''}}
          </td>
        </ng-template>
        <ng-template #totalRevenueRupeeCheck>
          <ng-container *ngIf="employeeBillingCurrency == 'INR'; then totalRupeeRevenue; else noCurrencyTotalRevenue"></ng-container>
        </ng-template>
        <ng-template #totalRupeeRevenue>
          <td class="revenue-amount">Revenue&thinsp;:</td>
          <td class="cmi-revenue-amount">
            <span style="font-size: 1.5vw;">&#8377;</span>{{totalRevenue/100 | currency: '':''}}
          </td>
        </ng-template>
        <ng-template #noCurrencyTotalRevenue>
          <td class="revenue-amount">Revenue&thinsp;:</td>
          <td class="cmi-revenue-amount">{{totalRevenue/100 | currency: '':''}}</td>
        </ng-template>
      </div>
      <div style="display: table-row;">
        <ng-container *ngIf="employeeBillingCurrency == 'USD'; then totalCmiDollar; else totalCmiRupeeCheck"></ng-container>
        <ng-template #totalCmiDollar>
          <td class="revenue-amount">CMI Revenue&thinsp;:</td>
          <td class="cmi-revenue-amount">
            <span style="font-size: 1.5vw;">$</span>{{totalCmiRevenue/100 | currency: '':''}}
          </td>
        </ng-template>
        <ng-template #totalCmiRupeeCheck>
          <ng-container *ngIf="employeeBillingCurrency == 'INR'; then totalRupeeCmi; else noCurrencyBillRateTotalCmi"></ng-container>
        </ng-template>
        <ng-template #totalRupeeCmi>
          <td class="revenue-amount">CMI Revenue&thinsp;:</td>
          <td class="cmi-revenue-amount">
            <span style="font-size: 1.5vw;">&#8377;</span>{{totalCmiRevenue/100 | currency: '':''}}
          </td>
        </ng-template>
        <ng-template #noCurrencyBillRateTotalCmi>
          <td class="revenue-amount">CMI Revenue&thinsp;:</td>
          <td class="cmi-revenue-amount">{{totalCmiRevenue/100 | currency: '':''}}</td>
        </ng-template>
      </div>
    </div>
  </div>
  <p></p>
  <div style="float: left;">Click on each month to view detailed summary</div>
  <br>
  <div class="flex-row" style="width: 80%; padding-left: 0px;">
    <ng-container *ngFor="let revenueObj of revenue; let revObjIdx = index;">
      <ng-container *ngIf="revObjIdx == 0; then janFlex; else febJunFlexCheck"></ng-container>
      <ng-template #janFlex>
        <div fxflex="" fxflexorder="-1" style="flex: 1 1 0%;">
          <ng-container *ngIf="sowStart == revenueObj.revenueMonth; then dispJanJunStart; else checkJanJunStop"></ng-container>
        </div>
      </ng-template>
      <ng-template #febJunFlexCheck>
        <ng-container *ngIf="revObjIdx > 0 && revObjIdx <= 5; then febJunFlex;"></ng-container>
      </ng-template>
      <ng-template #febJunFlex>
        <div fxflex="" fxflexorder="revObjIdx" style="flex: 1 1 0%;">
          <ng-container *ngIf="sowStart == revenueObj.revenueMonth; then dispJanJunStart; else checkJanJunStop"></ng-container>
        </div>
      </ng-template>
      <ng-template #dispJanJunStart>
        <div class="soStartMarker" fxflex="" fxflexorder="-1" (click)="employeeMonthDetailView(revObjIdx)">
          <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
          <tbody>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
            </tr>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
            </tr>
          </tbody>
          <div class="cardFooter">Beeline Start</div>
        </div>
      </ng-template>
      <ng-template #checkJanJunStop>
        <ng-container *ngIf="sowStop == revenueObj.revenueMonth; then dispJanJunStop; else checkJanJunForeSee"></ng-container>
      </ng-template>
      <ng-template #checkJanJunForeSee>
        <ng-container *ngIf="sowForeCast == revenueObj.revenueMonth; then dispJanJunForeSee; else dispJanJunOrd"></ng-container>
      </ng-template>
      <ng-template #dispJanJunStop>
        <div class="soStopMarker" fxflex="" fxflexorder="-1" (click)="employeeMonthDetailView(revObjIdx)">
          <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
          <tbody>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw">Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
            </tr>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
            </tr>
          </tbody>
          <div class="cardFooter">Beeline End</div>
        </div>
      </ng-template>
      <ng-template #dispJanJunForeSee>
        <div class="soForeseeMarker" fxflex="" fxflexorder="-1" (click)="employeeMonthDetailView(revObjIdx)">
          <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
          <tbody>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
            </tr>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
            </tr>
          </tbody>
          <div class="cardFooter">Forecasted Beeline End</div>
        </div>
      </ng-template>
      <ng-template #dispJanJunOrd>
        <div class="ordMonth" fxflex="" fxflexorder="-1" (click)="employeeMonthDetailView(revObjIdx)">
          <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
          <tbody>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
            </tr>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
            </tr>
          </tbody>
          <div class="cardFooter"></div>
        </div>
      </ng-template>
      <ng-template #monthRevenueDollar>
        <td class="emp-month-amount">
          <span style="font-size: 0.9vw;">&ensp;$</span>{{revenueObj.revenueAmount/100 | currency: '':''}}
        </td>
      </ng-template>
      <ng-template #monthRevenueRupeeCheck>
        <ng-container *ngIf="employeeBillingCurrency == 'INR'; then monthRevenueRupee; else noCurrencyMonthRevenue"></ng-container>
      </ng-template>
      <ng-template #monthRevenueRupee>
        <td class="emp-month-amount"><span style="font-size: 0.9vw;">&ensp;&#8377;</span>{{revenueObj.revenueAmount/100 | currency: '':''}}</td>
      </ng-template>
      <ng-template #noCurrencyMonthRevenue>
        <td class="emp-month-amount">&ensp;{{revenueObj.revenueAmount/100 | currency: '':''}}</td>
      </ng-template>
      <ng-template #monthCmiDollar>
        <td class="emp-month-amount">
          <span style="font-size: 0.9vw;">&ensp;$</span>{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}
        </td>
      </ng-template>
      <ng-template #monthCmiRupeeCheck>
        <ng-container *ngIf="employeeBillingCurrency == 'INR'; then monthCmiRupee; else noCurrencyMonthCmi">
        </ng-container>
      </ng-template>
      <ng-template #monthCmiRupee>
        <td class="emp-month-amount">
          <span style="font-size: 0.9vw;">&ensp;&#8377;</span>{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}
        </td>
      </ng-template>
      <ng-template #noCurrencyMonthCmi>
        <td class="emp-month-amount">&ensp;{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}</td>
      </ng-template>
    </ng-container>
  </div>
  <div class="flex-row" style="width: 80%; padding-left: 0px;">
    <ng-container *ngFor="let revenueObj of revenue; let revObjIdx = index;">
      <ng-container *ngIf="revObjIdx == 6; then julFlex; else augDecFlexCheck"></ng-container>
      <ng-template #julFlex>
        <div fxflex="" fxflexorder="-1" style="flex: 1 1 0%;">
          <ng-container *ngIf="sowStart == revenueObj.revenueMonth; then dispJulDecStart; else checkJulDecStop"></ng-container>
        </div>
      </ng-template>
      <ng-template #augDecFlexCheck>
        <ng-container *ngIf="(revObjIdx - 7) >= 0  && (revObjIdx - 7) <= 5; then augDecFlex;"></ng-container>
      </ng-template>
      <ng-template #augDecFlex>
        <div fxflex="" fxflexorder="(revObjIdx - 6)" style="flex: 1 1 0%;">
          <ng-container *ngIf="sowStart == revenueObj.revenueMonth; then dispJulDecStart; else checkJulDecStop"></ng-container>
        </div>
      </ng-template>
      <ng-template #dispJulDecStart>
        <div class="soStartMarker" fxflex="" fxflexorder="-1" (click)="employeeMonthDetailView(revObjIdx)">
          <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
          <tbody>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
            </tr>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
            </tr>
          </tbody>
          <div class="cardFooter">Beeline Start</div>
        </div>
      </ng-template>
      <ng-template #checkJulDecStop>
        <ng-container *ngIf="sowStop == revenueObj.revenueMonth; then dispJulDecStop; else checkJulDecForeSee"></ng-container>
      </ng-template>
      <ng-template #checkJulDecForeSee>
        <ng-container *ngIf="sowForeCast == revenueObj.revenueMonth; then dispJulDecForeSee; else dispJulDecOrd"></ng-container>
      </ng-template>
      <ng-template #dispJulDecStop>
        <div class="soStopMarker" fxflex="" fxflexorder="-1" (click)="employeeMonthDetailView(revObjIdx)">
          <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
          <tbody>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw">Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
            </tr>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
            </tr>
          </tbody>
          <div class="cardFooter">Beeline End</div>
        </div>
      </ng-template>
      <ng-template #dispJulDecForeSee>
        <div class="soForeseeMarker" fxflex="" fxflexorder="-1" (click)="employeeMonthDetailView(revObjIdx)">
          <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
          <tbody>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
            </tr>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
            </tr>
          </tbody>
          <div class="cardFooter">Forecasted Beeline End</div>
        </div>
      </ng-template>
      <ng-template #dispJulDecOrd>
        <div class="ordMonth" fxflex="" fxflexorder="-1" (click)="employeeMonthDetailView(revObjIdx)">
          <h5 class="rev-month-hfive">{{revenueObj.revenueMonth | date: 'MMMM - yyyy'}}</h5>
          <tbody>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthRevenueDollar; else monthRevenueRupeeCheck"></ng-container>
            </tr>
            <tr style="font-style: italic;">
              <td style="text-align: right; font-size: 1vw;">CMI Revenue&thinsp;:</td>
              <ng-container *ngIf="employeeBillingCurrency == 'USD'; then monthCmiDollar; else monthCmiRupeeCheck"></ng-container>
            </tr>
          </tbody>
          <div class="cardFooter"></div>
        </div>
      </ng-template>
      <ng-template #monthRevenueDollar>
        <td class="emp-month-amount">
          <span style="font-size: 0.9vw;">&ensp;$</span>{{revenueObj.revenueAmount/100 | currency: '':''}}
        </td>
      </ng-template>
      <ng-template #monthRevenueRupeeCheck>
        <ng-container *ngIf="employeeBillingCurrency == 'INR'; then monthRevenueRupee; else noCurrencyMonthRevenue"></ng-container>
      </ng-template>
      <ng-template #monthRevenueRupee>
        <td class="emp-month-amount">
          <span style="font-size: 0.9vw;">&ensp;&#8377;</span>{{revenueObj.revenueAmount/100 | currency: '':''}}
        </td>
      </ng-template>
      <ng-template #noCurrencyMonthRevenue>
        <td class="emp-month-amount">&ensp;{{revenueObj.revenueAmount/100 | currency: '':''}}</td>
      </ng-template>
      <ng-template #monthCmiDollar>
        <td class="emp-month-amount">
          <span style="font-size: 0.9vw;">&ensp;$</span>{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}
        </td>
      </ng-template>
      <ng-template #monthCmiRupeeCheck>
        <ng-container *ngIf="employeeBillingCurrency == 'INR'; then monthCmiRupee; else noCurrencyMonthCmi"></ng-container>
      </ng-template>
      <ng-template #monthCmiRupee>
        <td class="emp-month-amount">
          <span style="font-size: 0.9vw;">&ensp;&#8377;</span>{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}
        </td>
      </ng-template>
      <ng-template #noCurrencyMonthCmi>
        <td class="emp-month-amount">&ensp;{{revenueObj.cmiRevenueAmount/100 | currency: '':''}}</td>
      </ng-template>
    </ng-container>
  </div>
</ng-template>
<ng-template #noData>
  <td style="font-size: 1.5vw; font-weight: lighter;">[ No Data ]</td>
</ng-template>